{% extends "layout.html" %}
{% block body %}
<h3>Kontrol Paneli</h3>
<small>Hoşgeldin, {{session["username"]}}</small>
<hr>
<a href="/addfile" class = "btn btn-danger"> Dosya Ekle </a>
{% if files %}
<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">Başlık</th>
        <th scope="col">Yazar</th>
        <th scope="col">Tarih</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
        {% for file in files %}
        <tr>
            <th scope="row">{{file.id}}</th>
            <td ><a href="/file/{{file.id}}"></a>{{file.title}}</td>
            <td>{{file.author}}</td>
            <td>{{file.created_date}}</td>
            <td><a href="/edit/{{file.id}}" class="btn btn-danger">Güncelle</a></td>
            <td><a href="/delete/{{file.id}}" class="btn btn-danger">Sil</a></td>
          </tr>
        {% endfor %}
   
    </tbody>
  </table>
{% else %}
<div class="alert alert-danger">Henüz paylaşım yapmadınız.</div>
{% endif %}
{% endblock body%}